spring:
  datasource:
    url: jdbc:mysql://localhost:3307/perfdb
    username: perfuser
    password: perfpass
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
